.cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
}

@media (max-width: 600px) {
  .cont {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-md-4{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.col-md-8{
   -ms-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
}
.col-sm-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}